<!DOCTYPE html>
<html>
<head>
  <title>Material</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%= User.current_user.is_admin ? render(partial: 'core/admin_header') : render(partial: 'core/user_header') %>
  <section id="main" data-layout="layout-1">
    <%= User.current_user.is_admin ? render(partial: 'core/admin_navigator') : render(partial: 'core/user_navigator') %>
    <%= yield %>
  </section>
  <%= User.current_user.is_admin ? render(partial: 'core/admin_footer') : render(partial: 'core/user_footer') %>
  <%= yield :modal %>
  <!-- Page Loader -->
  <div class="page-loader">
    <div class="preloader pls-blue">
      <svg class="pl-circular" viewBox="25 25 50 50">
        <circle class="plc-path" cx="50" cy="50" r="20" />
      </svg>
      <p>please wait...</p>
    </div>
  </div>
  <%= yield :body_end %>
  <script>
    $(document).ready(function(){
      $('.actionBar .actions > button').wrap( "<div class='btn-group'></div>" );
    });
  </script>
  <script>
    $(document).ready(function(){

      <% if flash[:notice].present? %>
      notify('<%= flash[:notice] %>', 'info');
      <% end %>

      <% if flash[:success].present? %>
      notify('<%= flash[:success] %>', 'success');
      <% end %>

      <% if flash[:error].present? %>
      notify('<%= flash[:error] %>', 'danger');
      <% end %>

    });

  </script>
</body>
</html>
